In [1]:
import pandas as pd

data = [10, 20, 30, 40, 50]
labels = ['a', 'b', 'c', 'd', 'e']

series = pd.Series(data, index=labels)
print("Pandas Series with custom labels:")
print(series)

Pandas Series with custom labels:
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [2]:
import pandas as pd

data_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
series_from_dict = pd.Series(data_dict)

print("Pandas Series from Dictionary:")
print(series_from_dict)

Pandas Series from Dictionary:
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [3]:
import pandas as pd

data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data_dict)
print("DataFrame created from a dictionary:")
print(df)

DataFrame created from a dictionary:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [4]:
import pandas as pd

data_list = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

df = pd.DataFrame(data_list, columns=['Name', 'Age', 'City'])
print("DataFrame created from a list of lists:")
print(df)

DataFrame created from a list of lists:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [5]:
import pandas as pd

data_dict_list = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}
]

df = pd.DataFrame(data_dict_list)
print("DataFrame created from a list of dictionaries:")
print(df)

DataFrame created from a list of dictionaries:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [6]:
import pandas as pd

df = pd.DataFrame(columns=['Name', 'Age', 'City'])
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}
]

df = pd.concat([df, pd.DataFrame(data)], ignore_index=True)
print("DataFrame after adding rows:")
print(df)

DataFrame after adding rows:
      Name Age         City
0    Alice  25     New York
1      Bob  30  Los Angeles
2  Charlie  35      Chicago

In [7]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B'],
    'Subcategory': ['X', 'Y', 'X', 'Y'],
    'Values': [1, 4, 7, 10]
}

df = pd.DataFrame(data).set_index(['Category', 'Subcategory'])
print("DataFrame with Multi-Level Index:")
print(df)

DataFrame with Multi-Level Index:
                      Values
Category Subcategory
A        X                 1
         Y                 4
B        X                 7
         Y                10

In [8]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000]
}

df = pd.DataFrame(data)
print("Summary of numeric columns using describe():")
print(df.describe())

Summary of numeric columns using describe():
             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000

In [9]:
print("First 3 rows of the DataFrame using head():")
print(df.head(3))

First 3 rows of the DataFrame using head():
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

In [10]:
print("Last 2 rows of the DataFrame using tail():")
print(df.tail(2))

Last 2 rows of the DataFrame using tail():
    Name  Age  Salary
3  David   40   80000
4    Eva   45   90000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Salary  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 252.0+ bytes

In [12]:
import numpy as np

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
df = pd.DataFrame(data, columns=['A', 'B', 'C'], index=['Row 1', 'Row 2', 'Row 3'])

print("DataFrame created from a NumPy array:")
print(df)

DataFrame created from a NumPy array:
       A  B  C
Row 1  1  2  3
Row 2  4  5  6
Row 3  7  8  9