In [1]:

# creating dataframe using list
import pandas as pd
data_list = [['Alice',25,'New York'],['Bob',30,'Los Angeles'],['Charlie',35,'Chicago']]
df = pd.DataFrame(data_list,columns=['Name','Age','City'])
print("DataFame created from a list of lists: ")
print(df)

DataFame created from a list of lists:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [11]:
# creating Datafrmae using dictionary
import pandas as pd
data_dict = [{'Name':'Alice','Age':25,'city':'New York'},{'Name':'Bob','Age':30,'city':'Los Angeles'},
            {'Name':'Charlie','Age':35,'city':'Chicago'}]
df = pd.DataFrame(data_dict)
print("DataFame created from dictionary: ")
print(df)

      Name Age         City
0    Alice  25     New York
1      Bob  30  Los Angeles
2  Charlie  35      Chicago

In [17]:
#create an empty Datafrmae and add data
import pandas as pd

# Creating an empty DataFrame
df = pd.DataFrame(columns=['Name', 'Age', 'City'])


df1 = pd.DataFrame([{'Name': 'Alice', 'Age': 25, 'City': 'New York'}])
df2 = pd.DataFrame([{'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'}])
df3 = pd.DataFrame([{'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}])


df = pd.concat([df, df1, df2, df3], ignore_index=True)


print(df)

      Name Age         City
0    Alice  25     New York
1      Bob  30  Los Angeles
2  Charlie  35      Chicago

In [27]:
#create DataFrame with Multi-index for heirarical indexing
import pandas as pd


data = {('A', 'X'): [1, 2, 3, 4], ('A', 'Y'): [5, 6, 7, 8],
        ('B', 'X'): [9, 10, 11, 12], ('B', 'Y'): [13, 14, 15, 16]}

# Creating a multi-level index with 4 levels
index = pd.MultiIndex.from_tuples([('First', 1), ('First', 2),
                                    ('Second', 1), ('Second', 2)],
                                   names=['Level 1', 'Level 2'])

# Creating the DataFrame with multi-level index
df = pd.DataFrame(data, index=index)

# Displaying the DataFrame
print("DataFrame With Multi-level Index:")
print(df)

DataFrame With Multi-level Index:
                 A      B
                 X  Y   X   Y
Level 1 Level 2
First   1        1  5   9  13
        2        2  6  10  14
Second  1        3  7  11  15
        2        4  8  12  16

In [29]:
#create a dataframe using numpy
import pandas as pd
import numpy as np
data = np.array([[1,2,3],[4,5,6],[7,8,9]])
df = pd.DataFrame(data,columns=['A','B','C'],index=['Row 1','Row 2','Row 3'])
print("DataFrame created from a numpy array: ")
print(df)

DataFrame created from a numpy array:
       A  B  C
Row 1  1  2  3
Row 2  4  5  6
Row 3  7  8  9

In [34]:
# to show pandas method like head(),describe(),tail(),info()
import pandas as pd
data = {'Name':['Alice','Bob','Charlie','David','Eva'],
        'Age':[25,30,35,40,45], 'Salary':[50000,60000,70000,80000,90000], 
        'City':['New York','Los Angeles','Chicago','Houston','Phoenix']}
df = pd.DataFrame(data)
print("Summary of Numeric columns using Describe: ")
print(df.describe())
print("Summary of Numeric columns using head: ")
print(df.head())
print("Summary of Numeric columns using Tail: ")
print(df.tail())
print("Summary of Numeric columns using Info: ")
print(df.info())

Summary of Numeric columns using Describe:
             Age        Salary
count   5.000000      5.000000
mean   35.000000  70000.000000
std     7.905694  15811.388301
min    25.000000  50000.000000
25%    30.000000  60000.000000
50%    35.000000  70000.000000
75%    40.000000  80000.000000
max    45.000000  90000.000000
Summary of Numeric columns using head:
      Name  Age  Salary         City
0    Alice   25   50000     New York
1      Bob   30   60000  Los Angeles
2  Charlie   35   70000      Chicago
3    David   40   80000      Houston
4      Eva   45   90000      Phoenix
Summary of Numeric columns using Tail:
      Name  Age  Salary         City
0    Alice   25   50000     New York
1      Bob   30   60000  Los Angeles
2  Charlie   35   70000      Chicago
3    David   40   80000      Houston
4      Eva   45   90000      Phoenix
Summary of Numeric columns using Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Salary  5 non-null      int64
 3   City    5 non-null      object
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes
None